div.google-visualization-tooltip ul li span {
  color: $black !important;
}

ul.google-visualization-tooltip-item-list li {
  padding: 0;
}

div.google-visualization-tooltip {
  padding: 10px;
  width: 155px !important;
  border-top: 3px solid #999;
  border-bottom: 3px solid #999;
  border-radius: 7px;
  border-color: #999;
  box-shadow: none;
}

div#user-chart circle {
  fill: #90ee7e;
}
div#user-chart g rect {
  fill: #cccccc;
}
