::-webkit-scrollbar {
  min-width: 12px;
  width: 12px;
  max-width: 12px;
  min-height: 12px;
  height: 12px;
  max-height: 12px;
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: rgba(209, 213, 209, 0.2) !important;
  border: none;
  border-radius: 100px;
  border: #e5e5e5;
}