* {
	margin: 0;
	padding: 0;
	font-family: $font-default-L;
	font-size: 20px;
	color: $white
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tooltip-inner {
	font-size: 100%;
}

ul {
	li {
		list-style: none;
	}
}

a, 
a:hover {	
	color: $white !important;
	text-decoration: none !important;
}

.center {
	margin: 0 auto;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.hero-text {
	font-weight: bold;
}

.google-button, 
.facebook-button, 
.game-name, 
.bitcoin-game-btn, 
.hot-item,
button.update-btn, 
button.close-update,
li.func-items,
li.noti-items,
button.c-button,
table#traditional-game-table tr,
table#mini-game tr,
button#game-btn-yes-no,
button#game-btn-mul,
#yes-radio, #no-radio {
  transition: background-color 0.5s;
}

.cursor-pointer {
	cursor: pointer;
}

.radio-cus {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background-color: $footer-word;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

#yes-radio:checked {
	background-color: $increase-color;
}

#no-radio:checked {
	background-color: $decrease-color;
}

#yes-radio:after,
#no-radio:after {
	content: '';
	z-index: 100;
	display: block;
	border-radius: 50%;
	position: relative;
  top: 3px;
  left: 3px;	
}

#yes-radio:after {
	background-color: $increase-color-op;
}

#no-radio:after {
	background-color: $decrease-color-op;
}

#yes-radio:checked::after {
	-webkit-animation: radioClick 1s;
	   -moz-animation: radioClick 1s;
	        animation: radioClick 1s;
}

#no-radio:checked::after {
	-webkit-animation: radioClick 1s;
	   -moz-animation: radioClick 1s;
	        animation: radioClick 1s;
}

input[type=text], 
input[type=number] {
  padding: 8px 10px !important;
}

input[type=time] {
  padding: 7px 10px;
}

input[type=text]:invalid, 
input[type=time]:invalid, 
input[type=number]:invalid {
	border: 1px solid $decrease-color;
}

/**********************BUTTON************************/
.btn {
	background-color: transparent !important;
	border: none !important;
}

.btn:focus, 
.btn-primary:focus {
	box-shadow: initial !important;
}

.pull-left {
	float: left;
}

.content {
  margin: 50px 0;
}

.submit-area button {
  color: $black;
}

.btn-height {
	height: 34px !important;
}

/**********************DISPLAY TABLE************************/
.display-table {
  display: table;
  width: 100%;
}

.display-row {
  display: table-row;
}

.display-cell {
  display: table-cell;
  vertical-align: middle;
}

/**********************DISABLE LINK************************/
.not-active {
	pointer-events: none;
	cursor: not-allowed;
}

/**********************GAME************************/
.card-header {
	background-color: initial;
	padding: 9px 5px;
	border: none;
}

.card {
	padding: 0 7px;
}

.dropdown-toggle::after {
  display: none;
}

/**********************BUTTON************************/
button.c-button {
  background-color: transparent;
  color: white;
  border: 1px solid $footer-word-op;
}

button#c-bet-btn:hover,
button.update-btn:hover,
button#game-btn-yes-no:hover {
	background-color: $bet-btn-color;
	border-color: $bet-btn-color;
}

button.close-update:hover {
	background-color: $decrease-color !important;
	border-color: $decrease-color !important;
}
    