@import 'color';
@import 'fonts';
@import 'default';

/********************SIDEBAR*********************/
.sidebar {
  background-color: $footer;
  position: fixed;
	bottom: 0;
	left: 0;
	top: 0;  
}

li.manager-avatar  {
	img {
	  width: 40px;
	  max-width: 40px;
	  border-radius: 20px;
	}
}

ul.sidebar-content li {
  font-size: 80%;
}


