$black: 								#000;
$white: 								#fff;
$form-color:						#ccc;
$sidebar-color:					#293F54;
$footer-word:						#999999;
$decrease-color:				#E74C3C;
$sidebar-hover-color:		#1C2B39;
$new:										#54E426;
$box-shadow: 						rgba(0, 0, 0, 0.3);
$border-op:							rgba(153, 153, 153, 0.3);
$first-color:						#EBB220;
$second-color:					#D3D3D3;
$third-color:						#EE9749;
$link-active:						#5DADE2;
$btn-blue-hover:				#5D9DE2;
$btn-blue-color:				#5674D4;
$increase-color:				#1ABC9C;
$both-color:						#F3ED2C;
$lightblue-color: 			rgba(93, 173, 226, 0.1);
$mail-op:								rgba(231, 76, 60, 0.5);
$notifi-op:							rgba(26, 188, 156, 0.5);
$both-op:								rgba(243, 237, 44, 0.5);
