$black: 								#000;
$white: 								#fff;
$form-color:						#ccc;
$sidebar-color:					#293F54;
$footer-word:						#999999;
$decrease-color:				#E74C3C;
$sidebar-hover-color:		#1C2B39;
$new:										#54E426;
$box-shadow: 						rgba(0, 0, 0, 0.3);
$border-op:							rgba(153, 153, 153, 0.3);
$first-color:						#EBB220;
$second-color:					#D3D3D3;
$third-color:						#EE9749;
$link-active:						#5DADE2;

