$black: 								#000;
$white: 								#fff;
$form-color:						#ccc;
$sidebar-color:					#293F54;
$footer-word:						#999999;
$footer-word-op:				rgba(153, 153, 153, 0.3);
$decrease-color:				#E74C3C;
$sidebar-hover-color:		#1C2B39;
$new:										#54E426;
$box-shadow: 						rgba(0, 0, 0, 0.3);
$border-op:							rgba(153, 153, 153, 0.3);
$first-color:						#EBB220;
$second-color:					#D3D3D3;
$third-color:						#EE9749;
$link-active:						#5DADE2;
$btn-blue-hover:				#5D9DE2;
$btn-blue-op:						rgba(93, 157, 226, 0.5);
$btn-blue-color:				#5674D4;
$increase-color:				#1ABC9C;
$increase-color-op: 		rgba(26, 188, 156, 0.5);
$both-color:						#F3ED2C;
$lightblue-color: 			rgba(93, 173, 226, 0.1);
$mail-op:								rgba(231, 76, 60, 0.5);
$notifi-op:							rgba(26, 188, 156, 0.5);
$both-op:								rgba(243, 237, 44, 0.5);
$opening-color:					#555465;
$closing-color:					#BC337A;
$table-2n:							rgba(93, 157, 226, 0.1);
$table-2n-op:						rgba(93, 157, 226, 0.3);
$bet-btn-color:					#5DADE2;
$deactive: 							#EC7063;
$user-create: 					#52BE80;
$update-color: 					#5DADE2;
$body-color: 						#24243A;
$notifi-color: 					#00C9B7;
$decrease-color:				#E74C3C;
$decrease-color-op:			rgba(231, 76, 60, 0.5);
$footer: 								rgba(30, 25, 25, 1);
$select:								#E6E6FA;
