* {
	margin: 0;
	padding: 0;
	font-family: $font-default-L;
	font-size: 20px;
	color: $white
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.black {
  color: $black !important;
}

.tooltip-inner {
	font-size: 100%;
}

ul {
	li {
		list-style: none;
	}
}

a, 
a:hover {	
	color: $white !important;
	text-decoration: none !important;
}

.center {
	margin: 0 auto;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.hero-text {
	font-weight: bold;
}

.setting i,
#notifi-radio,
#mail-radio,
#both-radio {
  transition: all 0.5s;
}

.cursor-pointer {
	cursor: pointer;
}

input[type=text], 
input[type=number] {
  padding: 8px 10px !important;
}

input[type=time] {
  padding: 7px 10px;
}

input[type=text]:invalid, 
input[type=time]:invalid, 
input[type=number]:invalid {
	border: 1px solid $decrease-color;
}

.dropdown-menu {
  padding: 5px;
}

.full-width {
  width: 100% !important;
}

.btn-notifi {
  transition: all 0.3s;
}

.pre-height {
  max-height: 400px;
}

/**********************BUTTON************************/
.btn {
  border: none !important;
  color: $black;
}

.btn:focus, 
.btn-primary:focus {
	box-shadow: initial !important;
}

.content {
  margin: 50px 0;
}

.submit-area button {
  color: $black;
}

.btn-height {
	height: 34px !important;
}

/**********************DISPLAY TABLE************************/
.display-table {
  display: table;
  width: 100%;
}

.display-row {
  display: table-row;
}

.display-cell {
  display: table-cell;
  vertical-align: middle;
}

/**********************PERCENT PANEL************************/
.percent-panel {
  width: 95%;
  padding: 5px;
  box-sizing: content-box;
  div {
    display: inline-block;
  }  
}

.center {
  margin: 0 auto;
}

div#history-user-info span, div#history-user-info p {
  opacity: 1;
}

.percent-panel div#increase, 
.percent-panel div#decrease {
  height: 3px;
}

div#increase {
  background-color: $increase-color;
  float: left;
}

div#decrease {
  float: right;
  background-color: $decrease-color;
}

.percent-panel p, 
.percent-panel span {
  font-size: 75%;
}

span.de-num-percent {
  float: right;
  margin-top: 5px !important;
}

span.in-num-percent {
  float: left;
  margin-top: 5px !important;
}

p.percent-panel-title {
  margin-bottom: 5px !important;
}

/**********************CHECK BOX CUSTOME ************************/
input[type='checkbox']:focus {
  outline: none;
}

.custome-checkbox {
  -webkit-appearance: none;
  background-color: $footer-word;
  width: 13px;
  height: 13px;
  border-radius: 3px;
  outline: none;
}

.custome-textarea {
  resize: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

/**********************RADIO CUSTOME ************************/
.radio-cus {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background-color: $footer-word;
  border-radius: 15px;
  outline: none !important;
  cursor: pointer;
}

label.form-check-label input {
  margin-right: 5px;
}

#mail-radio:checked {
  background-color: $decrease-color;
}

#notifi-radio:checked {
  background-color: $increase-color;
}

#both-radio:checked {
  background-color: $both-color;
}

label {
  color: $black;
  font-weight: 100;
  font-size: 70%;
}

/**********************INVALID MESSAGE************************/
.message {
  text-align: center;
  
  p {
    font-size: 80%;
  }

  p.error {
    color: $decrease-color !important;
  }

  p.valid {
    color: $increase-color !important;
  }
}



