@import 'adminFonts';
@import 'color';
@import 'includes';
@import 'animations';
@import 'default';
@import 'scrollBar';
@import 'managerChart';
@import 'notifi';
@import 'gameDetail';
@import 'login';
@import 'managerInfo';
@import 'createGame';
@import 'datepickerCustom';

/********************SIDEBAR*********************/
ul.sidebar-content a:focus {
  background-color: initial;
  outline: none;
}

.c-active {
	background-color: $sidebar-hover-color !important;
}

ul.sidebar-content li a:hover {
  background-color: initial !important;
}

.manager-name {
  width: 135px;
  max-width: 135px;
  display: inline-block;
  vertical-align: middle;
  font-size: 80%;
}

.sidebar {
  background-color: $sidebar-color;
  position: fixed;
  padding: 0;
	bottom: 0;
	left: 0;
	top: 0;  
}

li.manager-avatar  {
	img {
	  width: 40px;
	  max-width: 40px;
	  border-radius: 20px;
		display: inline-block;	  
	}
}

ul.sidebar-content {
	padding: 15px 0;
	li  {
	  padding: 9px 15px;
    a {
      font-size: 80%;
      padding: 0;
    }
	}
}

ul.sidebar-content li:hover {
  background-color: $sidebar-hover-color;
}

a span.new-color {
	color: $new !important;
}

.manager-option-area {
  display: block;
  position: absolute;
  bottom: 0;
  padding: 5px 0;
  width: 100%;
}

.setting-menu, 
.log-out-option {
  text-align: center;
  display: inline-block;
  width: 47%;
}

.rotate-setting {
  transform: rotateZ(130deg);
}

.setting-menu a {
  font-size: 100%;
  display: inline-block;
}

.setting-menu a:hover {
  color: initial !important;
}

/********************RIGHT SIDE CONTENT*********************/
.main-content,
.chart-content {
  padding: 15px 0px;
}

.right-side-hand {
	p, a, span, i {
  	color: $black !important;
  	margin: 0;
	}
	.total-user img,
	.new-user img {
	  width: 50px;
	  max-width: 50px;
	}	
}

p.title {
  text-align: center;
	a {
  	font-size: 90%;
  }
}

.function-content {
  box-shadow: -2px 2px 7px $box-shadow;
  padding: 0;
  height: 250px;
  max-height: 250px;
}

.total-user a img, 
.new-user a img,
.history-item img {
  position: relative;
  float: right;
}

.total-user, 
.new-user {
  padding: 13px 0px;
  margin: 16px 0px;
}

.function-content > div {
  padding-left: 15px;
  padding-right: 15px;
}

span.sub {
  font-size: 65%;
}

span.num {
  font-size: 190%;
  font-weight: bold;
}

.function-title {
  padding-top: 7px;
  padding-bottom: 7px;
}

.total-user,
.function-title {
	border-bottom: 1px solid $border-op;
}

.trophy {
	position: relative;
	text-align: center;
  top: 50px;
	img {
		position: absolute;
		transform: translateX(-50%);
	}
}

.first img {
  width: 120px;
  top: -14px;
}
.second img {
  width: 80px;
	left: 95px;
	top: 14px;
}
.third img {
  width: 60px;
	right: 40px;
	top: 34px;  
}

.trophy-small {
	width: 45px !important;
	max-width: 45px !important;
}

.history-item {
  margin: 10px 0;
}

.history-item .num {
  margin-right: 30px;
}

span.sub-game-name {
  font-size: 86%;
}

span.first-color, 
p.first-color {
	color: $first-color !important;
}

span.second-color,
p.second-color {
	color: $second-color !important;
}

span.third-color,
p.third-color {
	color: $third-color !important;
}

.chart-content {
	padding-left: 15px;
	padding-right: 15px;
}

div#chart > div {
  width: 1100px !important;
}

.chart-panel {
  border-bottom: 1px solid $border-op;
  padding-bottom: 20px;
}

p.game-created-date span {
  font-size: 100%;
}

p.game-created-date .increase {
  color: $increase-color !important;
}

p.game-created-date .decrease {
  color: $decrease-color !important;
}

/********************TOP RANK*********************/
.top-active-user-panel {
  padding: 30px 0;
}

div.user-ava p.user-point {
  margin-left: 135px;
}

p.user-point,
p.user-tran,
p.user-join,
p.game-type,
p.game-created-date,
p.game-close-in {
  font-size: 70%;
}

img.rank {
  border-radius: initial;
}

img.dash {
  max-width: 15px;
  transform: translateX(72%);
}

div.pre-padding {
  padding: 20px 0;
}

p.user-tran i, 
p.user-join i,
p.game-created-date i,
p.game-close-in i {
  margin: 0 10px;
}

ul.user-list p.open-tag,
ul.user-list p.close-tag {
  float: right;
  position: relative;
  top: 10px;
  right: 10px;
}

p.open-tag {
  background-color: $opening-color;
  color: $white !important;
}

p.close-tag {
  background-color: $closing-color;
  color: $white !important;
}

.form-in-list label, 
.form-in-list label {
	position: relative;
	left: 33px;
}

.form-in-list input[type="text"]:focus,
.form-in-list input[type="text"]:focus {
  border-radius: 5px;
  outline: inherit;
  border: 1px solid $btn-blue-op;
}

.form-in-list input[type="text"], 
.form-in-list input[type="text"] {
  width: 60%;
  height: 32px;
  border-radius: 5px;
  border: 1px solid $border-op;
  color: $black;
  font-size: 75%;
}

button.search-btn {
  width: 55px;
}