.highcharts-label text tspan,
g.highcharts-axis-labels text tspan {
  font-size: 130%;
}

text.highcharts-axis-title tspan,
text.highcharts-subtitle tspan {
  font-size: 85%;
}

text.highcharts-title tspan {
  font-size: 95% !important;
}

g.highcharts-legend-item text tspan {
  font-size: 130%;
}