/********************SEARCH FORM*********************/
.user-content {
  padding: 10px 15px 67px;
}

.search-form-panel {
  position: relative;
}

form.user-search-form label {
  position: absolute;
  z-index: 9999;
  left: 13px;
  top: 7px;
  margin: 0;
}

.user-detail-panel {
  padding: 0;
}

.user-detail {
  box-shadow: -2px 3px 10px $box-shadow;
  padding: 15px;
}

i.search-icon {
  color: $form-color;
  font-size: 100%;
}

input#user-search {
  padding: 8px 10px 8px 35px !important;
  border-radius: 30px;
}

/********************USER LIST*********************/

.user-list-head {
	ul li a:hover {
		background-color: initial;	 	
	}	

	ul li a {
	  font-size: 70%;
	  border: none;
	  background-color: initial;
	}
}

li.active a {
	color: $link-active !important;
}

div#all-user,
div#new-user,
div#top-user {
  height: 370px;
  max-height: 370px;
}

.user-content table tr td {
  color: $black;
  font-size: 75%;
	line-height: 1;
	padding: 5px;
}

table.user-detail-info {
  width: 100%;
  margin-top: 25px;
	tr:hover {
	  background-color: $lightblue-color;
	}  
}

.tag {
  display: inline;
  font-size: 48%;
  padding: 3px 3px;
  border-radius: 5px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.user-tag {
  background-color: lightblue;
}

.manager-tag {
	background-color: lightcoral;
}

.select-all {
  position: relative;
}

.select-all span {
  font-size: 70%;
}

ul.user-list {
  a {
    font-size: 100%;
  }
	margin: 10px 0;
	p.user-tag, 
	p.manager-tag {
	  color: $white !important;
	}

	li {
    margin: 5px 0;
	}

	p.user-name {
	  font-size: 75%;
    width: 130px;
	  max-width: 130px;
	  vertical-align: middle;
	}

	p.user-date {
	  font-size: 64%;
	  color: $footer-word !important;
	}

	.user-ava {
    border-bottom: 1px solid $border-op;
    padding-bottom: 13px;		
		position: relative;
    p {
      display: inline-block;
    }
	}
}

input.user-check-box {
  position: absolute;
  right: 10px;
  top: 7px;
}

input.user-check-box:checked,
input.user-check-all-box:checked {
  background-color: lightblue;
}

input.user-check-box:checked:after {
  left: 50%;
  top: 43%;
	@include translateXY(-50%, -50%);
}

input.user-check-all-box:checked:after {
  left: 6px;
  top: 15px;
  @include translateXY(-50%, -50%);
}

input.user-check-box:checked:after,
input.user-check-all-box:checked:after {
  content: "\2713";
  color: $black !important;
  font-size: 60%;
  position: absolute;
}

input.user-check-box:checked::after,
input.user-check-all-box:checked::after {
  animation-name: checkboxAni;
  animation-duration: 0.3s;
}

/********************RADIO BOX*********************/
#mail-radio:checked::after, 
#notifi-radio:checked::after,
#both-radio:checked::after {
  -webkit-animation: radioClick 1s;
		 -moz-animation: radioClick 1s;
					animation: radioClick 1s;
}

#mail-radio:after {
  background-color: $mail-op;
}

#notifi-radio:after {
  background-color: $increase-color;
}

#both-radio:after {
	background-color: $both-color;
}

#notifi-radio:after, 
#mail-radio:after,
#both-radio:after {
  content: '';
  z-index: 100;
  display: block;
  border-radius: 50%;
  position: relative;
  top: 2px;
  left: 2px;
}

/********************RIGHT HAND*********************/
.send-notifi-panel {
  margin: 20px 0;
}

.send-notifi {
  textarea {
  	width: 100%;
  	height: 120px;
		color: $black;
    font-size: 70%;  	
  }
}

.btn-notifi {
  background-color: $btn-blue-color;
  color: $white;
}

button.btn-notifi:hover {
	background-color: $btn-blue-hover;
	color: $white;
}

.send-option {
  display: inline-block;
  float: right; 
  input {
    position: relative;
    top: 3px;
  }  
}

select#notifi-form {
  font-size: 70%;
  height: 32px;
  width: 200px;
  border-radius: 4px;
  background-color: $select;
  border: $select;
}

select#notifi-form option {
  font-size: 100%;
}

select#notifi-form:focus {
  outline: none;
}

