<!DOCTYPE html>
<html>
<head>
	<title>Test isotpe</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../../assets/jquery/isotope.pkgd.min.js"></script>
</head>

<body>
	<div class="main">
		<div class="container">
			
		</div>
	</div>

	<div class="container">
		<div class="danhmuc">
			
				<a href="*" class="btn btn-outline-primary">All </a>
				<a href=".bitcoin" class="btn btn-outline-primary">Bitcoin </a>
				<a href=".sjc" class="btn btn-outline-primary">SJC </a>
				<a href=".999" class="btn btn-outline-primary">999 </a>
			
		</div>
		<div class="content">
			<div class="col-3 mt-3 minigame bitcoin">
				<div class="card">
					<div class="card-header">
						Featured
					</div>
					<div class="card-block">
						<h4 class="card-title">Special title treatment</h4>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>


						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			
			<div class="col-3 mt-3 minigame sjc">
				<div class="card">
					<div class="card-header">
						Featured
					</div>
					<div class="card-block">
						<h4 class="card-title">Special title treatment Special title treatment Special title treatment</h4>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>

			<div class="col-3 mt-3 minigame sjc">
				<div class="card">
					<div class="card-header">
						Featured
					</div>
					<div class="card-block">
						<h4 class="card-title">Special title treatment</h4>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>

			<div class="col-3 mt-3 minigame 999">
				<div class="card">
					<div class="card-header">
						Featured
					</div>
					<div class="card-block">
						<h4 class="card-title">Special title treatment</h4>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>

			<div class="col-3 mt-3 minigame bitcoin">
				<div class="card">
					<div class="card-header">
						Featured
					</div>
					<div class="card-block">
						<h4 class="card-title">Special title treatment</h4>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>

			<div class="col-3 mt-3 minigame sjc">
				<div class="card">
					<div class="card-header">
						Featured
					</div>
					<div class="card-block">
						<h4 class="card-title">Special title treatment</h4>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>

			<div class="col-3 mt-3 minigame sjc">
				<div class="card">
					<div class="card-header">
						Featured
					</div>
					<div class="card-block">
						<h4 class="card-title">Special title treatment</h4>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	<style type="text/css">
		

		.hienlen {
			background-color: red;
		}
	</style>

	<script type="text/javascript">
		var $grid =  $('.content').isotope({
			  // options
			  itemSelector: '.minigame',
			  layoutMode: 'masonry'
		});


		$('.danhmuc a').click(function(){
			$('.danhmuc a').removeClass('hienlen');
			$(this).addClass('hienlen');

			danhmuc = $(this).attr('href');

			$grid.isotope({ filter: danhmuc });

			return false;
		});
	</script>
</body>
</html>
