$black: 								#000;
$white: 								#fff;
$break-line: 						#999999;
$footer-word:						#999999;
$footer-word-op:				rgba(153, 153, 153, 0.3);
$footer: 								rgba(30, 25, 25, 0.74);
$border-color: 					#494A4E;
$google-color: 					#991900;
$notifi-color: 					#00C9B7;
$green-circle: 					#2ECC71;
$border-sidebar: 				#4F5150;
$google-color: 					#DC4A3D;
$facebook-color: 				#4D69BC;
$gold-color:						#F4D03F;
$background-game-name:	#4A4A4A;
$opening-color:					#555465;
$closing-color:					#BC337A;
$transaction-color:			#212F3C;
