* {
	margin: 0;
	padding: 0;
	font-family: $font-default-L;
	font-size: 20px;
	color: $white
}

html, body {
	background-color: $body-color !important;
}

#main-index {
	background-image: linear-gradient(transparent, $body-color),url('../../images/client/new-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.user-btn-close,
.update-btn,
.notifi-btn,
.user-name {
	cursor: pointer;
}

ul {
	li {
		list-style: none;
	}
}

a, 
a:hover {	
	color: $white !important;
	text-decoration: none !important;
}

.center {
	margin: 0 auto;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.hero-text {
	font-weight: bold;
}

.google-button, 
.facebook-button, 
.game-name, 
.bitcoin-game-btn, 
.hot-item,
button.update-btn, 
li.func-items,
li.noti-items,
button.c-button {
  transition: background-color 0.5s;
}

/**********************BUTTON************************/
.btn {
	background-color: transparent !important;
	border: none !important;
}

.btn:focus, 
.btn-primary:focus {
	box-shadow: initial !important;
}

.pull-left {
	float: left;
}

.content {
  margin: 50px 0;
}

/**********************DISPLAY TABLE************************/
.display-table {
  display: table;
  width: 100%;
}

.display-row {
  display: table-row;
}

.display-cell {
  display: table-cell;
  vertical-align: middle;
}

/**********************DISABLE LINK************************/
.not-active {
	pointer-events: none;
	cursor: not-allowed;
}

/**********************GAME************************/
.card-header {
	background-color: initial;
	padding: 9px 5px;
	border: none;
}

.card {
	padding: 0 7px;
}

.dropdown-toggle::after {
  display: none;
}

/**********************BUTTON************************/
button.c-button {
  background-color: transparent;
  color: white;
  border: 1px solid $footer-word-op;
  cursor: pointer;
}

button#c-bet-btn:hover {
	background-color: $bet-btn-color;
	border-color: $bet-btn-color;
}
    