/* smartphones, iPhone, portrait 480x320 phones */ 
@media only screen and (max-width:320px)  { 

}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media only screen and (max-width:481px)  { 

}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media only screen and (max-width:641px)  { 
	#game-history-popup,
	div#history-user-info {
	  min-width: 727px;
	}
}

@media only screen and (max-width:767px)  {
	.content-area, 
	.traditional-game-content,
	.minigame .container {
		min-width: 753px;
	}

	nav#my-navbar {
	  min-width: 738px !important;
	}	

	div#mgyn-contact-area {
    margin-top: 20px;
	}	

	h5#world-rank-title {
		font-size: 80%;
	}

	.top-user>div {
    margin: 0 15px !important;
	}	

	.modal-content .first img {
    width: 83px !important;
	}	

	.modal-content .second img {
    width: 70px !important;
	}

	.modal-content .third img {
    width: 60px !important;
	}	

	figcaption.top-user-name a {
    font-size: 80%;
	}
	
	.modal-content {
    min-width: 500px;
	}
}

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media only screen and (max-width:961px)  { 

}

/* big landscape tablets, laptops, and desktops */ 
@media only screen and (max-width:1025px) { 
	div#history-content-area {
		div#history-game {
			padding-left: 0;
			padding-right: 0;
		}
	}

	div#history-user-info {
    margin-top: 10px;
	}
}

/* hi-res laptops and desktops */ 
@media only screen and (max-width:1281px) { 
	// div#history-user-info {
 //    margin-top: 10px;
	// }
}