div#user-update-info {
  color: $black;
  padding: 15px;
}

img.user-avatar {
  width: 70px;
  border-radius: 35px;
  max-width: 70px;
  min-width: 70px;
}

.submit-area, 
.user-ava-area {
  text-align: center;
}

.input-area > input {
  margin: 5px 0px;
	outline: none;
	font-size: 90%;
	width: 100%;
}

h5.user-func-title,
p.username, 
.input-area > input, 
button.update-btn,
#create-mini-game,
div#yes-no-game label,
#multi-choice-game label,
div#create-game span,
button.user-btn-close span {
  color: $black;
}

button.user-btn-close {
  margin-bottom: 0.9rem;
}

.user-header {
  padding: 0;
}

form.user-form {
  margin-top: 20px;
}

.submit-area {
  margin-top: 20px;
}

button.update-btn, 
button.close-update,
#game-btn-yes-no,
button#game-btn-mul {
  background-color: initial;
  border: 1px solid $footer-word;
  padding: 4px 22px;
  border-radius: 30px;
  cursor: pointer;
}

button.close-update {
  background-color: initial !important;
  border: 1px solid $footer-word !important;
}

button.update-btn,
#game-btn-yes-no,
button#game-btn-mul,
div#yes-no-game form label, 
div#multi-choice-game form label, 
div#yes-no-game form input, 
div#multi-choice-game form input {
  font-size: 80%;
}

button.close-update {
  font-size: 83%;
}